body{
    margin:0;
    display: grid;
    height: 100vh;
    grid-template-areas: 
    "header-section"
    "main-content-section"
    "footer-section";
    grid-template-rows: 70px 1fr 50px;
}

h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h6{
    position: absolute;
    bottom: 0px;
}

a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

a:hover{
    text-decoration: none;
    color:orange;
}

.loginText{
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginForm{
    display: flex;
    align-items: center;
    justify-content: center;
}

.signupOptions{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
}

.signupOptions .signupButton{
    padding-left: 10px;
}

.signupOptions .signupButton:hover{
    cursor: pointer;
}

.signupForm{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}

.signupForm h2{
    text-align: center;
    padding-bottom: 20px;
}

.signupForm .row{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 15px;
}

.signupForm .rowSubmit{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.row{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
}

.header{ 
    grid-area: header-section;
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
}

.main-content-section {
    grid-area: main-content-section;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.header a{
    font-family: monospace;
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo{
    font-size: 25px;
    font-weight: bold;
}

.header a:hover{
    background-color: #ddd;
    color: black;
}

.header a.active:hover{
    background-color: dodgerblue;
    color: white;
}

.header-right{
    float:right;
    margin-right: 20px;
}

@media screen and (max-width: 100%){
    .header a{
        float:none;
        display: block;
        text-align: left;
    }
    .header-right{
        float:none;
    }
}

.footer{
    grid-area: footer-section;
    font-family: monospace;
    margin: 1px;   
}

.footer .footerContent{
    position: fixed;
    bottom: 0;
    background-color: #f1f1f1;
    width: 100%;
    left: 0;
    display: flex;
    flex-direction: row;

}

#kanyeFaceImg{
    width: 100px;
    height: 80px;
    object-fit: cover;
}

.footerColumn{
    flex:1;
    text-align: center;
}

.footerColumn a{
    display: block;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.preFooter{
    position: fixed;
    display: flex;
    flex-direction: row;
    bottom: 130px;
    
}

.flexPlaylist {
    padding-top: 20px;
    display: flex;
    background-color: rgb(7, 77, 108);
    align-items: start;
    justify-content: space-around;
    height: auto;
}

.flexPlaylist > div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #17ba30;
    margin: 10px;
    font-size: 30px;
    height: 400px;
    width: 440px;
    box-sizing: border-box;
}

.divPlaylist a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    font-size: 28px;
    line-height: 25px;
    border-radius: 4px;
    height: 100%; /* Make it fill the parent div */
    width: 100%; /* Make it fill the parent div */
    border: 3px dotted black; /* Include the border */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.divPlaylist a:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.add_song_rows{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.add_song_row{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
}
.managePlaylistTitle{
    font-family: monospace;
    font-size: larger;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 40px;
}

.managePlaylistSelector{
    display: flex;
    align-items: center;
    justify-content:space-around;   
}
.managePlaylistSelector a:hover{
    cursor: pointer;
}

.managePlaylistSelector .row{
    font-family: monospace;
    font-weight: 700;
    font-size: large;
}